#header {
  background-color: darkgrey;
}

.box {
  border: solid grey 1px;
  height: 200px;
  /* margin-left: 10vw; */
}

#left-block {
  float: left;
}

.btn {
  width: 100px;
}

.wins, .losses {
    position: absolute;
    bottom: 0;
}

.center, p, .btn-holder {
  float: none;
  margin: 0 auto;
  text-align: center;
}

#right-block {
  float: right;
}

#comment-box {
  height: 30vh;
  border: solid lightgrey 1px;
}
